@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --brand-dark: #1F1F27;
  --brand-light-dark: #23242E;
  --brand-red: #B92B2B;
  --brand-white: #FFFFFF;
  --text-white: #FFFFFF;
  --text-grey: #4E4E58;
  --text-light-grey: #949494;
  --text-red: #B92B2B;
}

/* global stylings */

html {
  font-size: 14px;
  font-family: Poppins;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 30px;
  background-color: #141518;
  color: white;
}

a {
  cursor: pointer;
}

ul, ol {
  list-style: none
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.4);
}

body::-webkit-scrollbar {
  width: 8px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--brand-red);
}

.clickable {
  cursor: pointer;
}

/* authenticated layout styling */

.content {
  max-height: calc(100vh - 180px);
  overflow: hidden;
}

.nav-wrapper {
  background-color: var(--brand-dark);
  padding: 24px 50px;
  border-radius: 5px;
  max-height: 40px;
  margin-bottom: 30px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .nav-box {
  display: flex;
  gap: 15px;
  font-size: 18px;
}

.nav-container .nav-box .image {
  color: var(--text-red);
}

.nav-container .nav-title {
  font-size: 28px;
}

@media (max-width: 900px) {
  .nav-container .nav-title {
    display: none;
  }
}

/* 2 panels stylings */

.side-panel {
  flex-grow: 1;
  max-height: fit-content;
}

.main-panel {
  flex-grow: 3;
  max-height: fit-content;
}

.calendar-container {
  display: flex;
  gap: 10px;
  overflow: hidden;
}

.calendar-container > .side-panel {
  background-color: var(--brand-dark);
  padding: 30px;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 5px;
}

.event {
  max-width: 450px;
}

.event .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 40px;
}

.event .add {
  border-radius: 5px;
  background-color: var(--brand-red);
  padding: 12px 26px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.event .scrollable {
  max-height: 400px;
  overflow-y: scroll;
  padding-right: 20px;
}

.event .date {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 16px;
  width: 100%;
}

.event .title {
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

.event .about {
  margin-top: 30px;
  width: 100%;
}

.event .tags {
  margin-top: 30px;
  width: 100%;
}

.event .tags .tags-title,
.event .about .about-title{
  color: var(--text-red);
  font-size: 16px;
  margin-bottom: 20px;
}

.event .about .about-description {
  font-size: 14px;
  text-align: justify;
}

.event .tags .tags-elements {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.event .tags .tags-elements .tag {
  background-color: var(--brand-light-dark);
  font-size: 12px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.calendar-container > .main-panel {
  padding: 10px;
}

.calendar {
  background-color: var(--brand-dark);
  border-radius: 5px;
}

.main-panel .title {
  color: var(--text-grey);
}

.calendar .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.calendar .head .date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.calendar .head .arrows {
  display: flex;
  align-items: end;
  gap: 10px;
}

.calendar .tb {
  width: 100%;
  font-weight: normal;  
  border-collapse: collapse;  
  color: var(--text-grey);
}

.calendar .tb th,
.calendar .tb tr {
  font-weight: normal;
  border: 1px solid var(--text-grey);
}

.content-title{
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 20px;
  color: var(--text-light-grey);
}

.form-container{
  background-color: var(--brand-dark);
  padding: 40px;
  max-height: calc(100vh - 320px);
}

.form-container > form {
  max-height: calc(100vh - 320px);
  overflow: auto;
}

.form-container .form-group{
  width: 500px;
}
.form-container .form-control {
  background-color: var(--brand-light-dark);
  height: 40px;
  width: 100%;
  margin: 20px;
  padding: 10px;
  font-size: 12px;
  font-weight: lighter;
  border-radius: 5px;
  color: var(--text-light-grey);
}
.button{
  background-color: red;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 20px;
}
.form-container h2 b{
  color: var(--brand-red);
}