@model Event

<div class="form-container">
    
    <h1>Form successfully submitted : </h1>
    <h2> <b>Event name : </b>@Model.Name</h2>
    <h2> <b>Event description :</b> @Model.Description</h2>
    <h2> <b>Event name :</b> @Model.StartDate</h2>
    <h2> <b>Event name :</b> @Model.EndDate</h2>
</div>
