@model chnouma_events.Models.Event

<div class="side-panel event">
    <div class="head">
        <button class="add">
            <img height="18px" src="~/assets/icons/bookmark.svg" alt="bookmark-icon">
            <span> Add to Bucket List </span>
        </button>

        <a class="exit">
            <img height="16px" src="~/assets/icons/exit.svg" alt="exit-icon">
        </a>
    </div>

    <div class="scrollable">
        <h2 class="date">
            <span> @Model.StartDate.ToLongDateString() </span>
            <span> @Model.StartDate.ToShortTimeString()</span>
        </h2>

        <h1 class="title">@Model.Name</h1>

        <div class="about">
            <h3 class="about-title">
                About the Event
            </h3>
            <p class="about-description">
                @Model.Description
            </p>
        </div>

        <div class="tags">
            <h3 class="tags-title">
                Tags
            </h3>
            <ul class="tags-elements">
                <li class="tag">Entertainment</li>
            </ul>
        </div>
    </div>
</div>